.whitefont {
    color: white;
}

.italic {
    font-style: italic;
}

.strikeout {
    text-decoration: line-through;
}

.selfport {
    background-image: url('../assets/aboutmeart.PNG');
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}