/* targets to style icons in contact */
.circle {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 1em;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:hover {
    box-shadow: 0 0 10px rgba(216, 255, 168, 0.857);
}

/* remove link underlines */
.noTextDec {
    text-decoration: none;
}