.extra {
    display: inline-flex;
    width: 0;
    overflow: hidden;
    white-space:nowrap;
    transition:width .5s linear;
  }
  p:hover .extra {
    width: 5rem;
  }
  
  .noTextDec {
    text-decoration: none;
  }