/* 

.extra {
    display: none;
  
  }

  p:hover .extra {
    display: inline-block;
    animation: slideOut 0.5s forwards;
  }

  @keyframes slideOut {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  } */

  .extra {
    display: inline-block;
    white-space: nowrap;
    width: 0;
    opacity: 0;
    transition: width 1s, opacity 1s;
  }
  
   p:hover .extra {
    width: auto;
    opacity: 1;
    animation: slideOut 0.7s linear;
    
  } 
  
  @keyframes slideOut {
    0% {
      transform: translateX(-30%);
    }
    100% {
      transform: translateX(0);
    }
  }
  






  