.ol-a {
    outline: 1px solid pink;
}

.ol-b {
    outline: 1px solid white;
}

.ol-c {
    outline: 1px solid rgb(106, 225, 136);
}

.ol-d {
    outline: 1px solid rgb(26, 157, 162);
}

#loc {
    color: rgba(165, 141, 141, .7);
}

#logo {
    width: 100%;
}



.floatlink {
    animation: floatgh 5000ms infinite;
  }
  
  @keyframes floatgh {
    0% {
      transform: translateY(0%);
    }

    50% {
        transform: translateY(25%);
    }

    100% {
      transform: translateY(0%);
    }
  }