* {
    font-family: 'Reenie Beanie', cursive, arial;
}


.one {

    stroke-dasharray: 66;
    stroke-dashoffset: 66;
    animation: 0.5s one linear forwards;
}

.two {
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
    animation: 0.5s two linear forwards;
    animation-delay: 1s;

}

@keyframes one {
    0%{
        stroke-dashoffset: 66;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes two {
    0%{
        stroke-dashoffset: 157;
    }
    100% {
        stroke-dashoffset: 0;
    }
}