.boxPics {
background-color: transparent;
/* outline: 2px solid pink; */

}

.description {
    /* display: none; */
    background-color: grey;
}

.projects:hover {
    box-shadow: 0 0 10px rgba(255, 83, 189, 0.807);
}